*{
   font-family: cursive;
    
}
.text{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
}

.text2{
    background-color: rgb(140, 0, 255);
    text-align: center;
    color: aliceblue;
    font-weight: 100;

}

.text3{
    background-color: rgb(74, 193, 223);
    text-align: right
}

.cloud{
    color: aqua;
}