* {
    font-family: Comic sans-serif;
}

@font-face {
    font-family: Comic sans-serif;
    src: url(Qdbettercomicsans-jEEeG.ttf);
}

.header {
    margin-left: 30%;
}

.content {
    display: flex;
    flex-direction: row;    
    width: 762px;
    height: 500px;
    margin-left: 30%;
}

.perfil {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #000000;
    margin-right: 3%;
}

.nav {
    color: #ffffff;
    background-color: #000000;
    display: flex;
    align-items: flex-start;
    width: 755px;
    height: 100%
}

.nav-title {
    margin-left: 2%;
}

.subnav {
    color: #000000;
    display: flex;
    justify-content: center;
    width: 40%;
    height: 80%;
    margin-left: 30%;
}

.box {
    width: 111%;
    height: 145px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #000000;
    margin-top: 1%;
    
}

.banner {
    display: flex;
}

.text1 {
    width: 100%;
    height: 50px;
    margin-left: 5%;
}

.text2 {
    width: 60%;
    height: 50px;
    margin-left: 5%;
}

.button {
    width: 100%;
    height: 50px;
    margin-top: 5%;
}

.button1 {
    height: 30px;
    width: 80px;
    background-color: rgb(230, 209, 21);
    border: 2px solid #000000;
    color: #000000;
    margin-left: 170px;
