.body {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.content {
    width: 50%;
    height: 1500%;
}

@font-face {
    font-family: Claydesdale-Light;
    src: url(Clydesdale-Light.ttf);
}

.nav {
    width: 45%;
    color: #ffffff;
    background-color: #b4b4b4;
    display: flex;
    align-items: center;
    position: absolute;
}

.btn {
    background-color: rgb(0, 119, 255);
    margin-left: 80%;
    height: 35px;
    width: 8%;
    border: 0px solid #000000;
    border-radius: 8px;
    color: #ffffff;
    font-size: 110%;
    position: absolute;
    overflow: hidden;
    box-shadow: 4px 5px 5px black;
}

.nav-title {
    margin-left: 5%;
    display: flex;
    align-content: center;
}

.textarea {
    margin-left: 30%;
    border: 2px solid black;
    position: absolute;
    overflow: hidden;
}
 
.columns p {
    margin-left: 5%;
    width: 20%;
}

.box-1 {
    width: 100%;
    height: 200px;
    margin-top: 36%;
    border: 3px solid #000000;
    margin-bottom: 5%;
}

.box-1 h1 {
    margin-left: 5%;
    width: 20%;
}

.box-2 {
    width: 25%;
    height: 200px;
    border: 3px solid #000000;
    position: absolute;
    overflow: hidden;
}

.box-2 h1 {
    margin-left: 5%;
    width: 20%;
}

.box-3 {
    width: 16%;
    height: 17%;
    margin-top: 9%;
    margin-left: 14px;
    border: 3px solid #000000;
    position: absolute;
    overflow: hidden;
}

.box-3 h1 {
    margin-left: 5%;
    width: 100%;
}

.column-1 {
    width: 50%;
}

.column-2 {
    width: 50%;
}

.columns {
    display: flex;
    flex-direction: row;
}

.columns button {
    margin-left: 5%;
}

.text-b2 {
    width: 200%;
    height: 50px;
    margin-left: 25%;
    margin-top: 12%;
}

.text-b1 {
    width: 60%;
    height: 50px;
    margin-top: 12%;
    margin-left: 6%;
    position: absolute;
}

.t-b {
    display: flex;
    flex-direction: row;
}

